@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display&display=swap');
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

a.nav-link {
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
}

 #order-page, #contact-page{
    color:#00C49A;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #0B7A75;
    transition: .3s all ease-in-out;
    border-radius: .3rem;
   
}

/** remove the spacing at the left and right corner of the page**/
.navbar {
    padding: 1rem 0;
}

.navbar-toggler {
    border: none;
}

/** create suitable padding to the web body**/
.header-nav {
    padding-right: 1rem;
    padding-left: 1rem;
}

/** middle section of the index.html page **/
.coffee-variety-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.container-card-title-first,
.container-card-title-second,
.text-of-order-one,
.text-of-order-two {
    padding-right: 1rem;
    padding-left: 1rem;
}

/** Overlay text on the image **/
.card {
    position: relative;
    text-align: center;
}

.center-text-coffee-one,
.center-text-coffee-two,
.center-text-coffee-four {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'playfair display', sans-serif;
    font-size: 1rem;
  
}

.center-text-coffee-three {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #093145;
    font-family: 'playfair display', sans-serif;
    font-size: 1.1rem;
  
}

.coffee-price{
    color:#2B2D42;
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
}

/** auto resize the image to fit the container in different screen sizes**/
.container-card-title {
    width: 17.8rem;
    height: 9rem;
}



div#map {
    height: 400px;
    width: 100%;
}


.about-CCD-text {
    font-family: 'playfair display', sans-serif;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    text-align: justify;
}

.social-networks {
    display: inline-block;
}

.social-networks i {
    font-size: 2rem;
    padding: 1rem;
    color: #4E8098;
}

.social-network-list {
    text-align: center;
    padding: 0;
}



/******************* 404 page  ********************/
#pageError {
    font-weight:900;
    font-size: 10rem;
    text-align:center;
}

/******************* screen responsiveness adjustment ********************/
@media screen and (min-width: 320px) {
    .contact-background-image {
        background-position: 20% 50%;
    }

    .navbar-brand img {
        width: 9rem;
        height: 2rem;
    }

    .text-box {
        flex-direction: column;
    }

    .items-added i {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        color: darkblue;
        cursor: pointer;
        font-size: 0.6rem;
    }

    td {
        font-size: 0.9rem;
    }

    i.fas.fa-minus-square, i.fas.fa-plus-square, i.fas.fa-trash-alt {
        display: contents;
    }

    .cartTotalTitle, .cartTotalAmount {
        display: inline-block;
        font-weight: bold;
    }

    .contact-title-text .submit-btn {
        margin-right: 2.5rem;
    }

    .carousel-caption>h1 {
        font-size: 1.5rem;
        font-family: 'sans-serif';
        color: #F1FAEE;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 18rem;
        height: 3rem;
    }

    .container-contactDetail {
        flex-direction: row;
    }

    .carousel-caption>h1 {
        font-size: 3rem;
        font-family: 'playfair display', sans-serif;
        color: #F1FAEE;
        font-weight: bold;
    }

    .contact-info {
        font-size: 1.3rem;
    }

    div.items-container .items-header h5  {
        font-size: 1.5rem;
    }

    .items-added i {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        color: darkblue;
        cursor: pointer;
        font-size: 1rem;
    }

    td {
        font-size: 1rem;
    }

    .items-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
